<%= link_to 'Back to businessses', organization_businesses_path(@business.organization) %>


  <h1>
    <%=@business.name%>
    <%= link_to 'Edit', edit_organization_business_path(@business.organization, @business)%>
  </h1>

  <strong class='border-bottom'>Name</strong>
  <p><%=@business.name%><p>



  <%= render "activities/mini_form", active: @business %>
  
  <h2>Activities<%= @business.activities.count%></h2>

  <% @business.activities.each do |activity|  %>
    <%= activity.title %>
  <% end %>
 