<div class="col bg-primary vh-100"> 
  <ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Log In", new_user_path, class: "nav-link text-white" %>
  </li>
    <li class="nav-item">
      <%= link_to "Deals", deals_path, class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Organizations", organizations_path, class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Businesses", organization_businesses_path(@current_user.organization), class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Log out", "/logout", class: "nav-link text-white" %>
    </li>




  <div>
    <p><%= @current_user.email %></p>
    <p><%= @current_user.organization.name %></p>
  </div>
</div>