= puts contact
%tr.hover-actions-trigger.btn-reveal-trigger.position-static
  %td.fs-9.align-middle
    .form-check.mb-0.fs-8
      //%input.form-check-input{"data-bulk-select-row" => "{"customer":{"avatar":"/team/32.webp","name":"#{contact.full_name}","designation":"VP Accounting","status":{"label":"new lead","type":"badge-phoenix-primary"}},"email":"#{contact.email}","phone":"#{contact.phone}","contact":"Ally Aagaard","company":"Google.inc","date":"Jan 01, 12:56 PM"}", :type => "checkbox"}/
  %td.name.align-middle.white-space-nowrap.ps-0
    .d-flex.align-items-center
      %a{:href => "#{organization_contact_path(contact.organization, contact)}"}
        .avatar.avatar-xl.me-3
          %img.rounded-circle{:alt => "", :src => "../../assets/img/team/32.webp"}/
      %div
        %a.fs-8.fw-bold{:href => "#{organization_contact_path(contact.organization, contact)}"}= contact.full_name
        .d-flex.align-items-center
          %p.mb-0.text-body-highlight.fw-semibold.fs-9.me-2= contact.title
          %span.badge.badge-phoenix.badge-phoenix-primary new lead
  %td.email.align-middle.white-space-nowrap.fw-semibold.ps-4.border-end.border-translucent
    %a.text-body-highlight{:href => "mailto:#{contact.email}"}= contact.email
  %td.phone.align-middle.white-space-nowrap.fw-semibold.ps-4.border-end.border-translucent
    %a.text-body-highlight{:href => "tel:#{contact.phone}"}= contact.phone
  %td.contact.align-middle.white-space-nowrap.ps-4.border-end.border-translucent.fw-semibold.text-body-highlight Ally Aagaard
  %td.company.align-middle.white-space-nowrap.text-body-tertiary.text-opacity-85.ps-4.border-end.border-translucent.fw-semibold.text-body-highlight Google.inc
  %td.date.align-middle.white-space-nowrap.text-body-tertiary.text-opacity-85.ps-4.text-body-tertiary Jan 01, 12:56 PM
  %td.align-middle.white-space-nowrap.text-end.pe-0.ps-4
    .btn-reveal-trigger.position-static
      %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal.fs-10{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
        %span.fas.fa-ellipsis-h.fs-10
      .dropdown-menu.dropdown-menu-end.py-2
        %a.dropdown-item{:href => "#!"} View
        %a.dropdown-item{:href => "#!"} Export
        .dropdown-divider
        %a.dropdown-item.text-danger{:href => "#!"} Remove
