<div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
            <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
            <li class="breadcrumb-item active">Default</li>
          </ol>
        </nav>
        <div class="pb-9">
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center justify-content-between g-3 mb-3">
                <div class="col-12 col-md-auto">
                  <h2 class="mb-0">Lead details</h2>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="d-flex">
                    <div class="flex-1 d-md-none"><button class="btn px-3 btn-phoenix-secondary text-body-tertiary me-2" data-phoenix-toggle="offcanvas" data-phoenix-target="#productFilterColumn"><span class="fa-solid fa-bars"></span></button></div><button class="btn btn-primary me-2"><span class="fa-solid fa-envelope me-2"></span><span>Send an email</span></button><button class="btn btn-phoenix-secondary px-3 px-sm-5 me-2"><span class="fa-solid fa-thumbtack me-sm-2"></span><span class="d-none d-sm-inline">Shortlist</span></button><button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                    <ul class="dropdown-menu dropdown-menu-end p-0" style="z-index: 9999;">
                      <li><a class="dropdown-item" href="#!">View profile</a></li>
                      <li><a class="dropdown-item" href="#!">Report</a></li>
                      <li><a class="dropdown-item" href="#!">Manage notifications</a></li>
                      <li><a class="dropdown-item text-danger" href="#!">Delete Lead</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-0 g-md-4 g-xl-6">
            <div class="col-md-5 col-lg-5 col-xl-4">
              <div class="sticky-leads-sidebar">
                <div class="lead-details-offcanvas bg-body scrollbar phoenix-offcanvas phoenix-offcanvas-fixed" id="productFilterColumn">
                  <div class="d-flex justify-content-between align-items-center mb-2 d-md-none">
                    <h3 class="mb-0">Lead Details</h3><button class="btn p-0" data-phoenix-dismiss="offcanvas"><span class="uil uil-times fs-7"></span></button>
                  </div>
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row align-items-center g-3 text-center text-xxl-start">
                        <div class="col-12 col-xxl-auto">
                          <div class="avatar avatar-5xl"><img class="rounded-circle" src="../../assets/img/team/33.webp" alt="" /></div>
                        </div>
                        <div class="col-12 col-sm-auto flex-1">
                          <h3 class="fw-bolder mb-2"><%= @contact.full_name %></h3>
                          <p class="mb-0">Chief tech officer,</p><a class="fw-bold" href="#!">Blue Beetles</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <%= render "about_pane", contact: @contact %>
                  <%= render "address_pane" %>

                </div>
                <div class="phoenix-offcanvas-backdrop d-lg-none top-0" data-phoenix-backdrop="data-phoenix-backdrop"></div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 col-xl-8">
              <div class="lead-details-container">
                <nav class="navbar pb-4 px-0 sticky-top bg-body nav-underline-scrollspy" id="navbar-deals-detail">
                  <ul class="nav nav-underline fs-9">
                    <li class="nav-item"><a class="nav-link me-2" href="#scrollspyTask">Task</a></li>
                    <li class="nav-item"><a class="nav-link me-2" href="#scrollspyDeals">Deals</a></li>
                    <li class="nav-item"><a class="nav-link me-2" href="#scrollspyEmails">Emails</a></li>
                    <li class="nav-item"><a class="nav-link" href="#scrollspyAttachments">Attachments </a></li>
                  </ul>
                </nav>
                <div class="scrollspy-example rounded-2" data-bs-spy="scroll" data-bs-offset="0" data-bs-target="#navbar-deals-detail" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
                  <%= render "tasks" %>

                  <%= render "deals" %>
                  <%= render "emails" %>
                  <%= render "attachments" %>
                </div>
              </div>
            </div>
          </div>
        </div>