<%= link_to 'Back to contacts', organization_contacts_path(@contact.organization) %>


  <h1>
    <%=@contact.first_name %>
    <%= link_to 'Edit', edit_organization_contact_path(@contact.organization, @contact)%>
  </h1>

  <strong class='border-bottom'>Name</strong>
  <p><%=@contact.first_name%><p> 


  <%= render "activities/mini_form", active: @contact %>
  
  <h2>Activities<%= @contact.activities.count%></h2>

  <% @contact.activities.each do |activity|  %>
    <%= activity.title %>
  <% end %>
 