<%= link_to "Back to deals", deals_path %>

<%= bootstrap_form_for @deal do |form| %>

  <h1>
    <%=@deal.name%>
    <%= link_to "Edit", edit_deal_path(@deal), class: 'fs-5 test' %>
  </h1>


  <strong class="border-bottom">Source</strong>
  <p><%=@deal.source %><p>

  <strong class="border-bottom">Rating</strong>
  <p><%=@deal.rating %> </p>
  
  <strong class="border-bottom">Status</strong>
  <p><%=@deal.status %> </p>
  
  <strong class="border-bottom">Notes</strong>
  <p><%=@deal.notes %> </p>

<%end%>