<%= link_to 'Back to deals', deals_path %>

  <h1>
    <%=@deal.name%>
    <%= link_to 'Edit', edit_deal_path(@deal)%>
  </h1>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.source%><p>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.rating%><p>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.status%><p>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.notes%><p>
