<%= link_to 'Back to deals', organization_deals_path(@deal.organization) %>

  <h1>
    <%=@deal.name%>
    <%= link_to 'Edit', edit_organization_deal_path(@deal.organization, @deal)%>
  </h1>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.source%><p>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.rating%><p>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.status%><p>

  <strong class='border-bottom'>Name</strong>
  <p><%=@deal.notes%><p>
