<%= link_to 'Back to organizations', organization_path %>

<%= bootstrap_form_for @organization do |form| %>

  <h1>
    <%=@organization.name%>
    <%= link_to 'Edit', edit_organization_path(@organization)%>
  </h1>

  <strong class='border-bottom'>Name</strong>
  <p><%=@organization.name%><p>

<%end%>


<%= render "activities/mini_form", active: @organization %>
  
<h2>Activities<%= @organization.activities.count%></h2>

<% @organization.activities.each do |activity|  %>
  <%= activity.title %>
<% end %>
