
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newActivity">
  New Activity
</button>

<!-- Modal -->
<div class="modal fade" id="newActivity" tabindex="-1" aria-labelledby="newActivityLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newActivityLabel">New Activity</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <%= bootstrap_form_for @activity || Activity.new do |form| %>
        <div>
          <%= form.text_field :title %>
          <%= form.select :activity_type, Organization::ACTIVITY_TYPE_OPTIONS, { class: "border border-secondary"} %>
          <%= form.select :status, Organization::ACTIVITY_STATUS_OPTIONS, { class: "border border-secondary"} %>
          <%= form.hidden_field :active_type, value: active.class.name %>
          <%= form.hidden_field :active_id, value: active.id %>
          <%= form.date_field :due_date %>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <div data-bs-dismiss="modal">
          <%= form.submit 'Save Activity', class: "btn btn-primary" %> 
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
