%h1 Activities
= link_to new_activity_path do
  %button.btn.btn-primary.btn-sm{:type => "button"} New activity
%h2
  = Current.user.email
  's Activities
%ul.list-group
  - Current.user.activities.each do |activity|
    %li.list-group-item
      = link_to activity do
        = activity.title
%h2
  = Current.user.organization.name
  's Activities
%ul.list-group
