!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Delano
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    / ===============================================
    / Main Content
    / ===============================================
    %main#top.main
      = render "shared/navbar/navbar"
      #searchBoxModal.modal.fade{"aria-hidden" => "true", "data-bs-backdrop" => "true", "data-phoenix-modal" => "data-phoenix-modal", :style => "--phoenix-backdrop-opacity: 1;", :tabindex => "-1"}
        .modal-dialog
          .modal-content.mt-15.rounded-pill
            .modal-body.p-0
              .search-box.navbar-top-search-box{"data-list" => "{\"valueNames\":[\"title\"]}", :style => "width: auto;"}
                %form.position-relative{"data-bs-display" => "static", "data-bs-toggle" => "search"}
                  %input.form-control.search-input.fuzzy-search.rounded-pill.form-control-lg{"aria-label" => "Search", :placeholder => "Search...", :type => "search"}/
                  %span.fas.fa-search.search-box-icon
                .btn-close.position-absolute.end-0.top-50.translate-middle.cursor-pointer.shadow-none{"data-bs-dismiss" => "search"}
                  %button.btn.btn-link.p-0{"aria-label" => "Close"}
                .dropdown-menu.border.start-0.py-0.overflow-hidden.w-100
                  .scrollbar-overlay{:style => "max-height: 30rem;"}
                    .list.pb-3
                      %h6.dropdown-header.text-body-highlight.fs-10.py-2
                        24
                        %span.text-body-quaternary results
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Recently Searched
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-clock-rotate-left{"data-fa-transform" => "shrink-2"}
                              Store Macbook
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-clock-rotate-left{"data-fa-transform" => "shrink-2"}
                              MacBook Air - 13″
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Products
                      .py-2
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../apps/e-commerce/landing/product-details.html"}
                          .file-thumbnail.me-2
                            %img.h-100.w-100.fit-cover.rounded-3{:alt => "", :src => "../assets/img/products/60x60/3.png"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title MacBook Air - 13″
                            %p.fs-10.mb-0.d-flex.text-body-tertiary
                              %span.fw-medium.text-body-tertiary.text-opactity-85 8GB Memory - 1.6GHz - 128GB Storage
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../apps/e-commerce/landing/product-details.html"}
                          .file-thumbnail.me-2
                            %img.img-fluid{:alt => "", :src => "../assets/img/products/60x60/3.png"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title MacBook Pro - 13″
                            %p.fs-10.mb-0.d-flex.text-body-tertiary
                              %span.fw-medium.text-body-tertiary.text-opactity-85.ms-2 30 Sep at 12:30 PM
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Quick Links
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-link.text-body{"data-fa-transform" => "shrink-2"}
                              Support MacBook House
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-link.text-body{"data-fa-transform" => "shrink-2"}
                              Store MacBook″
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Files
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-file-zipper.text-body{"data-fa-transform" => "shrink-2"}
                              Library MacBook folder.rar
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-file-lines.text-body{"data-fa-transform" => "shrink-2"}
                              Feature MacBook extensions.txt
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-image.text-body{"data-fa-transform" => "shrink-2"}
                              MacBook Pro_13.jpg
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Members
                      .py-2
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../pages/members.html"}
                          .avatar.avatar-l.status-online.me-2.text-body
                            %img.rounded-circle{:alt => "", :src => "../assets/img/team/40x40/10.webp"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title Carry Anna
                            %p.fs-10.mb-0.d-flex.text-body-tertiary anna@technext.it
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../pages/members.html"}
                          .avatar.avatar-l.me-2.text-body
                            %img.rounded-circle{:alt => "", :src => "../assets/img/team/40x40/12.webp"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title John Smith
                            %p.fs-10.mb-0.d-flex.text-body-tertiary smith@technext.it
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Related Searches
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-brands.fa-firefox-browser.text-body{"data-fa-transform" => "shrink-2"}
                              Search in the Web MacBook
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-brands.fa-chrome.text-body{"data-fa-transform" => "shrink-2"}
                              Store MacBook″
                    .text-center
                      %p.fallback.fw-bold.fs-7.d-none No Result Found.
      = yield
      :javascript
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.setAttribute('data-navbar-appearance', 'darker');
        }
      .support-chat-container
        .container-fluid.support-chat
          .card.bg-body-emphasis
            .card-header.d-flex.flex-between-center.px-4.py-3.border-bottom.border-translucent
              %h5.mb-0.d-flex.align-items-center.gap-2
                Demo widget
                %span.fa-solid.fa-circle.text-success.fs-11
              .btn-reveal-trigger
                %button#support-chat-dropdown.btn.btn-link.p-0.dropdown-toggle.dropdown-caret-none.transition-none.d-flex{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                  %span.fas.fa-ellipsis-h.text-body
                .dropdown-menu.dropdown-menu-end.py-2{"aria-labelledby" => "support-chat-dropdown"}
                  %a.dropdown-item{:href => "#!"} Request a callback
                  %a.dropdown-item{:href => "#!"} Search in chat
                  %a.dropdown-item{:href => "#!"} Show history
                  %a.dropdown-item{:href => "#!"} Report to Admin
                  %a.dropdown-item.btn-support-chat{:href => "#!"} Close Support
            .card-body.chat.p-0
              .d-flex.flex-column-reverse.scrollbar.h-100.p-3
                .text-end.mt-6
                  %a.mb-2.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 I need help with something
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                  %a.mb-2.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 I can’t reorder a product I previously ordered
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                  %a.mb-2.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 How do I place an order?
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                  %a.false.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 My payment method not working
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                .text-center.mt-auto
                  .avatar.avatar-3xl.status-online
                    %img.rounded-circle.border.border-3.border-light-subtle{:alt => "", :src => "../assets/img/team/30.webp"}/
                  %h5.mt-2.mb-3 Eric
                  %p.text-center.text-body-emphasis.mb-0 Ask us anything – we’ll get back to you here or by email within 24 hours.
            .card-footer.d-flex.align-items-center.gap-2.border-top.border-translucent.ps-3.pe-4.py-3
              .d-flex.align-items-center.flex-1.gap-3.border.border-translucent.rounded-pill.px-4
                %input.form-control.outline-none.border-0.flex-1.fs-9.px-0{:placeholder => "Write message", :type => "text"}/
                %label.btn.btn-link.d-flex.p-0.text-body-quaternary.fs-9.border-0{:for => "supportChatPhotos"}
                  %span.fa-solid.fa-image
                %input#supportChatPhotos.d-none{:accept => "image/*", :type => "file"}/
                %label.btn.btn-link.d-flex.p-0.text-body-quaternary.fs-9.border-0{:for => "supportChatAttachment"}
                  %span.fa-solid.fa-paperclip
                %input#supportChatAttachment.d-none{:type => "file"}/
              %button.btn.p-0.border-0.send-btn
                %span.fa-solid.fa-paper-plane.fs-9
        %button.btn.p-0.border.border-translucent.btn-support-chat
          %span.fs-8.btn-text.text-primary.text-nowrap Chat demo
          %span.fa-solid.fa-circle.text-success.fs-9.ms-2
          %span.fa-solid.fa-chevron-down.text-primary.fs-7
  