!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Delano
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    / ===============================================
    / Main Content
    / ===============================================
    %main#top.main
      = render "shared/navbar/navbar"
      #searchBoxModal.modal.fade{"aria-hidden" => "true", "data-bs-backdrop" => "true", "data-phoenix-modal" => "data-phoenix-modal", :style => "--phoenix-backdrop-opacity: 1;", :tabindex => "-1"}
        .modal-dialog
          .modal-content.mt-15.rounded-pill
            .modal-body.p-0
              .search-box.navbar-top-search-box{"data-list" => "{\"valueNames\":[\"title\"]}", :style => "width: auto;"}
                %form.position-relative{"data-bs-display" => "static", "data-bs-toggle" => "search"}
                  %input.form-control.search-input.fuzzy-search.rounded-pill.form-control-lg{"aria-label" => "Search", :placeholder => "Search...", :type => "search"}/
                  %span.fas.fa-search.search-box-icon
                .btn-close.position-absolute.end-0.top-50.translate-middle.cursor-pointer.shadow-none{"data-bs-dismiss" => "search"}
                  %button.btn.btn-link.p-0{"aria-label" => "Close"}
                .dropdown-menu.border.start-0.py-0.overflow-hidden.w-100
                  .scrollbar-overlay{:style => "max-height: 30rem;"}
                    .list.pb-3
                      %h6.dropdown-header.text-body-highlight.fs-10.py-2
                        24
                        %span.text-body-quaternary results
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Recently Searched
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-clock-rotate-left{"data-fa-transform" => "shrink-2"}
                              Store Macbook
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-clock-rotate-left{"data-fa-transform" => "shrink-2"}
                              MacBook Air - 13″
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Products
                      .py-2
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../apps/e-commerce/landing/product-details.html"}
                          .file-thumbnail.me-2
                            %img.h-100.w-100.fit-cover.rounded-3{:alt => "", :src => "../assets/img/products/60x60/3.png"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title MacBook Air - 13″
                            %p.fs-10.mb-0.d-flex.text-body-tertiary
                              %span.fw-medium.text-body-tertiary.text-opactity-85 8GB Memory - 1.6GHz - 128GB Storage
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../apps/e-commerce/landing/product-details.html"}
                          .file-thumbnail.me-2
                            %img.img-fluid{:alt => "", :src => "../assets/img/products/60x60/3.png"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title MacBook Pro - 13″
                            %p.fs-10.mb-0.d-flex.text-body-tertiary
                              %span.fw-medium.text-body-tertiary.text-opactity-85.ms-2 30 Sep at 12:30 PM
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Quick Links
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-link.text-body{"data-fa-transform" => "shrink-2"}
                              Support MacBook House
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-link.text-body{"data-fa-transform" => "shrink-2"}
                              Store MacBook″
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Files
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-file-zipper.text-body{"data-fa-transform" => "shrink-2"}
                              Library MacBook folder.rar
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-file-lines.text-body{"data-fa-transform" => "shrink-2"}
                              Feature MacBook extensions.txt
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-solid.fa-image.text-body{"data-fa-transform" => "shrink-2"}
                              MacBook Pro_13.jpg
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Members
                      .py-2
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../pages/members.html"}
                          .avatar.avatar-l.status-online.me-2.text-body
                            %img.rounded-circle{:alt => "", :src => "../assets/img/team/40x40/10.webp"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title Carry Anna
                            %p.fs-10.mb-0.d-flex.text-body-tertiary anna@technext.it
                        %a.dropdown-item.py-2.d-flex.align-items-center{:href => "../pages/members.html"}
                          .avatar.avatar-l.me-2.text-body
                            %img.rounded-circle{:alt => "", :src => "../assets/img/team/40x40/12.webp"}/
                          .flex-1
                            %h6.mb-0.text-body-highlight.title John Smith
                            %p.fs-10.mb-0.d-flex.text-body-tertiary smith@technext.it
                      %hr.my-0/
                      %h6.dropdown-header.text-body-highlight.fs-9.border-bottom.border-translucent.py-2.lh-sm Related Searches
                      .py-2
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-brands.fa-firefox-browser.text-body{"data-fa-transform" => "shrink-2"}
                              Search in the Web MacBook
                        %a.dropdown-item{:href => "../apps/e-commerce/landing/product-details.html"}
                          .d-flex.align-items-center
                            .fw-normal.text-body-highlight.title
                              %span.fa-brands.fa-chrome.text-body{"data-fa-transform" => "shrink-2"}
                              Store MacBook″
                    .text-center
                      %p.fallback.fw-bold.fs-7.d-none No Result Found.
      = yield
      :javascript
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.setAttribute('data-navbar-appearance', 'darker');
        }
      .support-chat-container
        .container-fluid.support-chat
          .card.bg-body-emphasis
            .card-header.d-flex.flex-between-center.px-4.py-3.border-bottom.border-translucent
              %h5.mb-0.d-flex.align-items-center.gap-2
                Demo widget
                %span.fa-solid.fa-circle.text-success.fs-11
              .btn-reveal-trigger
                %button#support-chat-dropdown.btn.btn-link.p-0.dropdown-toggle.dropdown-caret-none.transition-none.d-flex{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                  %span.fas.fa-ellipsis-h.text-body
                .dropdown-menu.dropdown-menu-end.py-2{"aria-labelledby" => "support-chat-dropdown"}
                  %a.dropdown-item{:href => "#!"} Request a callback
                  %a.dropdown-item{:href => "#!"} Search in chat
                  %a.dropdown-item{:href => "#!"} Show history
                  %a.dropdown-item{:href => "#!"} Report to Admin
                  %a.dropdown-item.btn-support-chat{:href => "#!"} Close Support
            .card-body.chat.p-0
              .d-flex.flex-column-reverse.scrollbar.h-100.p-3
                .text-end.mt-6
                  %a.mb-2.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 I need help with something
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                  %a.mb-2.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 I can’t reorder a product I previously ordered
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                  %a.mb-2.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 How do I place an order?
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                  %a.false.d-inline-flex.align-items-center.text-decoration-none.text-body-emphasis.bg-body-hover.rounded-pill.border.border-primary.py-2.ps-4.pe-3{:href => "#!"}
                    %p.mb-0.fw-semibold.fs-9 My payment method not working
                    %span.fa-solid.fa-paper-plane.text-primary.fs-9.ms-3
                .text-center.mt-auto
                  .avatar.avatar-3xl.status-online
                    %img.rounded-circle.border.border-3.border-light-subtle{:alt => "", :src => "../assets/img/team/30.webp"}/
                  %h5.mt-2.mb-3 Eric
                  %p.text-center.text-body-emphasis.mb-0 Ask us anything – we’ll get back to you here or by email within 24 hours.
            .card-footer.d-flex.align-items-center.gap-2.border-top.border-translucent.ps-3.pe-4.py-3
              .d-flex.align-items-center.flex-1.gap-3.border.border-translucent.rounded-pill.px-4
                %input.form-control.outline-none.border-0.flex-1.fs-9.px-0{:placeholder => "Write message", :type => "text"}/
                %label.btn.btn-link.d-flex.p-0.text-body-quaternary.fs-9.border-0{:for => "supportChatPhotos"}
                  %span.fa-solid.fa-image
                %input#supportChatPhotos.d-none{:accept => "image/*", :type => "file"}/
                %label.btn.btn-link.d-flex.p-0.text-body-quaternary.fs-9.border-0{:for => "supportChatAttachment"}
                  %span.fa-solid.fa-paperclip
                %input#supportChatAttachment.d-none{:type => "file"}/
              %button.btn.p-0.border-0.send-btn
                %span.fa-solid.fa-paper-plane.fs-9
        %button.btn.p-0.border.border-translucent.btn-support-chat
          %span.fs-8.btn-text.text-primary.text-nowrap Chat demo
          %span.fa-solid.fa-circle.text-success.fs-9.ms-2
          %span.fa-solid.fa-chevron-down.text-primary.fs-7
    / ===============================================
    / End of Main Content
    / ===============================================
    #settings-offcanvas.offcanvas.offcanvas-end.settings-panel.border-0{"aria-labelledby" => "settings-offcanvas", :tabindex => "-1"}
      .offcanvas-header.align-items-start.border-bottom.flex-column.border-translucent
        .pt-1.w-100.mb-6.d-flex.justify-content-between.align-items-start
          %div
            %h5.mb-2.me-2.lh-sm
              %span.fas.fa-palette.me-2.fs-8>
              Theme Customizer
            %p.mb-0.fs-9 Explore different styles according to your preferences
          %button.btn.p-1.fw-bolder{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", :type => "button"}
            %span.fas.fa-times.fs-8
        %button.btn.btn-phoenix-secondary.w-100{"data-theme-control" => "reset"}
          %span.fas.fa-arrows-rotate.me-2.fs-10>
          Reset to default
      #themeController.offcanvas-body.scrollbar.px-card
        .setting-panel-item.mt-0
          %h5.setting-panel-item-title Color Scheme
          .row.gx-2
            .col-4
              %input#themeSwitcherLight.btn-check{"data-theme-control" => "phoenixTheme", :name => "theme-color", :type => "radio", :value => "light"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "themeSwitcherLight"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.mb-0{:alt => "", :src => "../assets/img/generic/default-light.png"}/
                %span.label-text Light
            .col-4
              %input#themeSwitcherDark.btn-check{"data-theme-control" => "phoenixTheme", :name => "theme-color", :type => "radio", :value => "dark"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "themeSwitcherDark"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.mb-0{:alt => "", :src => "../assets/img/generic/default-dark.png"}/
                %span.label-text Dark
            .col-4
              %input#themeSwitcherAuto.btn-check{"data-theme-control" => "phoenixTheme", :name => "theme-color", :type => "radio", :value => "auto"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "themeSwitcherAuto"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.mb-0{:alt => "", :src => "../assets/img/generic/auto.png"}/
                %span.label-text Auto
        .border.border-translucent.rounded-3.p-4.setting-panel-item.bg-body-emphasis
          .d-flex.justify-content-between.align-items-center
            %h5.setting-panel-item-title.mb-1 RTL
            .form-check.form-switch.mb-0
              %input.form-check-input.ms-auto{"data-theme-control" => "phoenixIsRTL", :type => "checkbox"}/
          %p.mb-0.text-body-tertiary Change text direction
        .border.border-translucent.rounded-3.p-4.setting-panel-item.bg-body-emphasis
          .d-flex.justify-content-between.align-items-center
            %h5.setting-panel-item-title.mb-1 Support Chat
            .form-check.form-switch.mb-0
              %input.form-check-input.ms-auto{"data-theme-control" => "phoenixSupportChat", :type => "checkbox"}/
          %p.mb-0.text-body-tertiary Toggle support chat
        .setting-panel-item
          %h5.setting-panel-item-title Navigation Type
          .row.gx-2
            .col-6
              %input#navbarPositionVertical.btn-check{"data-page-url" => "../documentation/layouts/vertical-navbar.html", "data-theme-control" => "phoenixNavbarPosition", :name => "navigation-type", :type => "radio", :value => "vertical"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarPositionVertical"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none{:alt => "", :src => "../assets/img/generic/default-light.png"}/
                  %img.img-fluid.img-prototype.d-light-none{:alt => "", :src => "../assets/img/generic/default-dark.png"}/
                %span.label-text Vertical
            .col-6
              %input#navbarPositionHorizontal.btn-check{"data-page-url" => "../documentation/layouts/horizontal-navbar.html", "data-theme-control" => "phoenixNavbarPosition", :name => "navigation-type", :type => "radio", :value => "horizontal"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarPositionHorizontal"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none{:alt => "", :src => "../assets/img/generic/top-default.png"}/
                  %img.img-fluid.img-prototype.d-light-none{:alt => "", :src => "../assets/img/generic/top-default-dark.png"}/
                %span.label-text Horizontal
            .col-6
              %input#navbarPositionCombo.btn-check{"data-page-url" => "../documentation/layouts/combo-navbar.html", "data-theme-control" => "phoenixNavbarPosition", :name => "navigation-type", :type => "radio", :value => "combo"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarPositionCombo"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none{:alt => "", :src => "../assets/img/generic/nav-combo-light.png"}/
                  %img.img-fluid.img-prototype.d-light-none{:alt => "", :src => "../assets/img/generic/nav-combo-dark.png"}/
                %span.label-text Combo
            .col-6
              %input#navbarPositionTopDouble.btn-check{"data-page-url" => "../documentation/layouts/dual-nav.html", "data-theme-control" => "phoenixNavbarPosition", :name => "navigation-type", :type => "radio", :value => "dual-nav"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarPositionTopDouble"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none{:alt => "", :src => "../assets/img/generic/dual-light.png"}/
                  %img.img-fluid.img-prototype.d-light-none{:alt => "", :src => "../assets/img/generic/dual-dark.png"}/
                %span.label-text Dual nav
        .setting-panel-item
          %h5.setting-panel-item-title Vertical Navbar Appearance
          .row.gx-2
            .col-6
              %input#navbar-style-default.btn-check{"data-theme-control" => "phoenixNavbarVerticalStyle", :name => "config.name", :type => "radio", :value => "default"}/
              %label.btn.d-block.w-100.btn-navbar-style.fs-9{:for => "navbar-style-default"}
                %img.img-fluid.img-prototype.d-dark-none{:alt => "", :src => "../assets/img/generic/default-light.png"}/
                %img.img-fluid.img-prototype.d-light-none{:alt => "", :src => "../assets/img/generic/default-dark.png"}/
                %span.label-text.d-dark-none Default
                %span.label-text.d-light-none Default
            .col-6
              %input#navbar-style-dark.btn-check{"data-theme-control" => "phoenixNavbarVerticalStyle", :name => "config.name", :type => "radio", :value => "darker"}/
              %label.btn.d-block.w-100.btn-navbar-style.fs-9{:for => "navbar-style-dark"}
                %img.img-fluid.img-prototype.d-dark-none{:alt => "", :src => "../assets/img/generic/vertical-darker.png"}/
                %img.img-fluid.img-prototype.d-light-none{:alt => "", :src => "../assets/img/generic/vertical-lighter.png"}/
                %span.label-text.d-dark-none Darker
                %span.label-text.d-light-none Lighter
        .setting-panel-item
          %h5.setting-panel-item-title Horizontal Navbar Shape
          .row.gx-2
            .col-6
              %input#navbarShapeDefault.btn-check{"data-page-url" => "../documentation/layouts/horizontal-navbar.html", "data-theme-control" => "phoenixNavbarTopShape", :name => "navbar-shape", :type => "radio", :value => "default"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarShapeDefault"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none.mb-0{:alt => "", :src => "../assets/img/generic/top-default.png"}/
                  %img.img-fluid.img-prototype.d-light-none.mb-0{:alt => "", :src => "../assets/img/generic/top-default-dark.png"}/
                %span.label-text Default
            .col-6
              %input#navbarShapeSlim.btn-check{"data-page-url" => "../documentation/layouts/horizontal-navbar.html#horizontal-navbar-slim", "data-theme-control" => "phoenixNavbarTopShape", :name => "navbar-shape", :type => "radio", :value => "slim"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarShapeSlim"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none.mb-0{:alt => "", :src => "../assets/img/generic/top-slim.png"}/
                  %img.img-fluid.img-prototype.d-light-none.mb-0{:alt => "", :src => "../assets/img/generic/top-slim-dark.png"}/
                %span.label-text Slim
        .setting-panel-item
          %h5.setting-panel-item-title Horizontal Navbar Appearance
          .row.gx-2
            .col-6
              %input#navbarTopDefault.btn-check{"data-theme-control" => "phoenixNavbarTopStyle", :name => "navbar-top-style", :type => "radio", :value => "default"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarTopDefault"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none.mb-0{:alt => "", :src => "../assets/img/generic/top-default.png"}/
                  %img.img-fluid.img-prototype.d-light-none.mb-0{:alt => "", :src => "../assets/img/generic/top-style-darker.png"}/
                %span.label-text Default
            .col-6
              %input#navbarTopDarker.btn-check{"data-theme-control" => "phoenixNavbarTopStyle", :name => "navbar-top-style", :type => "radio", :value => "darker"}/
              %label.btn.d-inline-block.btn-navbar-style.fs-9{:for => "navbarTopDarker"}
                %span.mb-2.rounded.d-block
                  %img.img-fluid.img-prototype.d-dark-none.mb-0{:alt => "", :src => "../assets/img/generic/navbar-top-style-light.png"}/
                  %img.img-fluid.img-prototype.d-light-none.mb-0{:alt => "", :src => "../assets/img/generic/top-style-lighter.png"}/
                %span.label-text.d-dark-none Darker
                %span.label-text.d-light-none Lighter
        %a.bun.btn-primary.d-grid.mb-3.text-white.mt-5.btn.btn-primary{:href => "https://themes.getbootstrap.com/product/phoenix-admin-dashboard-webapp-template/", :target => "_blank"} Purchase template
    %a.card.setting-toggle{"data-bs-toggle" => "offcanvas", :href => "#settings-offcanvas"}
      .card-body.d-flex.align-items-center.px-2.py-1
        .position-relative.rounded-start{:style => "height:34px;width:28px"}
          .settings-popover
            %span.ripple
              %span.fa-spin.position-absolute.all-0.d-flex.flex-center
                %span.icon-spin.position-absolute.all-0.d-flex.flex-center
                  %svg{:fill => "#ffffff", :height => "20", :viewbox => "0 0 20 20", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M19.7369 12.3941L19.1989 12.1065C18.4459 11.7041 18.0843 10.8487 18.0843 9.99495C18.0843 9.14118 18.4459 8.28582 19.1989 7.88336L19.7369 7.59581C19.9474 7.47484 20.0316 7.23291 19.9474 7.03131C19.4842 5.57973 18.6843 4.28943 17.6738 3.20075C17.5053 3.03946 17.2527 2.99914 17.0422 3.12011L16.393 3.46714C15.6883 3.84379 14.8377 3.74529 14.1476 3.3427C14.0988 3.31422 14.0496 3.28621 14.0002 3.25868C13.2568 2.84453 12.7055 2.10629 12.7055 1.25525V0.70081C12.7055 0.499202 12.5371 0.297594 12.2845 0.257272C10.7266 -0.105622 9.16879 -0.0653007 7.69516 0.257272C7.44254 0.297594 7.31623 0.499202 7.31623 0.70081V1.23474C7.31623 2.09575 6.74999 2.8362 5.99824 3.25599C5.95774 3.27861 5.91747 3.30159 5.87744 3.32493C5.15643 3.74527 4.26453 3.85902 3.53534 3.45302L2.93743 3.12011C2.72691 2.99914 2.47429 3.03946 2.30587 3.20075C1.29538 4.28943 0.495411 5.57973 0.0322686 7.03131C-0.051939 7.23291 0.0322686 7.47484 0.242788 7.59581L0.784376 7.8853C1.54166 8.29007 1.92694 9.13627 1.92694 9.99495C1.92694 10.8536 1.54166 11.6998 0.784375 12.1046L0.242788 12.3941C0.0322686 12.515 -0.051939 12.757 0.0322686 12.9586C0.495411 14.4102 1.29538 15.7005 2.30587 16.7891C2.47429 16.9504 2.72691 16.9907 2.93743 16.8698L3.58669 16.5227C4.29133 16.1461 5.14131 16.2457 5.8331 16.6455C5.88713 16.6767 5.94159 16.7074 5.99648 16.7375C6.75162 17.1511 7.31623 17.8941 7.31623 18.7552V19.2891C7.31623 19.4425 7.41373 19.5959 7.55309 19.696C7.64066 19.7589 7.74815 19.7843 7.85406 19.8046C9.35884 20.0925 10.8609 20.0456 12.2845 19.7729C12.5371 19.6923 12.7055 19.4907 12.7055 19.2891V18.7346C12.7055 17.8836 13.2568 17.1454 14.0002 16.7312C14.0496 16.7037 14.0988 16.6757 14.1476 16.6472C14.8377 16.2446 15.6883 16.1461 16.393 16.5227L17.0422 16.8698C17.2527 16.9907 17.5053 16.9504 17.6738 16.7891C18.7264 15.7005 19.4842 14.4102 19.9895 12.9586C20.0316 12.757 19.9474 12.515 19.7369 12.3941ZM10.0109 13.2005C8.1162 13.2005 6.64257 11.7893 6.64257 9.97478C6.64257 8.20063 8.1162 6.74905 10.0109 6.74905C11.8634 6.74905 13.3792 8.20063 13.3792 9.97478C13.3792 11.7893 11.8634 13.2005 10.0109 13.2005Z", :fill => "#2A7BE4"}
        %small.text-uppercase.text-body-tertiary.fw-bold.py-2.pe-2.ps-1.rounded-end customize
